---
layout: defaultlayout.njk
eleventyNavigation:
  key: projects
---
{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}


    <div class="row">
      <article class="col-6 col-12-xsmall work-item">
          <a href="{{ entry.url }}"><img src="{{ entry.url }}../{{entry.key}}.png" alt="{{ entry.title }}" class="image fit thumb"/></a>
          <h3>{{ entry.title }}</h3>
          <p> {{ entry }}</p>
      </article>
    </div>

<li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
  <a href="{{ entry.url }}">{{ entry.title }}</a>
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<ul>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>