---
link: / 
image: image
title: title
excerpt: excerpt
---
<article class="col-6 col-12-xsmall work-item">
    <a href={{url}}><img src=image alt={{title}} class="image fit thumb"/></a>
    <h3>{{title}}</h3>
    <p>{{excerpt}}</p>
</article>