---
title: My Rad Blog
background: /images/backgrounds/index.png
---

<!DOCTYPE html>
<!-- Strata by HTML5 UP html5up.net | @ajlkn Free for personal and commercial use under the CCA 3.0 license
(html5up.net/license) -->
<html>
    <head>
        <title>gpoquiz.me</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <link rel="stylesheet" href="/assets/css/main.css"/>
    </head>
    <body
        class="is-preload">
        <!--Your new content will be displayed in here-->
        <script id="header-template" type="text/x-handlebars-template"></script>
        <!-- Header -->
        <header id="header" style="background-image: url(/assets/css/images/overlay.png), url({{background}}); ">
            <div class="inner">
                <a href="/" class="image avatar"><img src="/images/penrose small.png" alt=""/>
                </a>

                <div style="mix-blend-mode: difference;">
                    <h1>
                        <strong>Grant Poquiz</strong>
                    </h1>
                    <p>
                        Software Developer
                        <br/> 
                        Supergiant Fan
                        <br/>
                        Brandon Sanderson Enjoyer
                    </p>
                </div>
            </div>
        </header>
        <!-- Main -->
        <div id="main">
            {{content|safe}}
        </div>
        <!-- Footer -->
        <footer id="footer">
            <div class="inner" style="webkit-text-stroke-width: 1px;webkit-text-stroke-color: rgba(0, 0, 0, 1);">
                <ul class="icons">
                    <li>
                        <a href="https://github.com/gpoquiz" class="icon brands fa-github">
                            <span class="label">Github</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:web@gpoquiz.me" class="icon solid fa-envelope">
                            <span class="label">Email</span>
                        </a>
                    </li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Grant Poquiz</li>
                    <li>Design:
                        <a href="https://html5up.net/strata">HTML5 UP</a>
                    </li>
                </ul>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.poptrox.min.js"></script>
        <script src="/assets/js/browser.min.js"></script>
        <script src="/assets/js/breakpoints.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>
    </body>
</html>